@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100vh;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  h1 {
    font-size: var(--text-8xl);
  }
  h2 {
    font-size: var(--text-6xl);
  }
  h3 {
    font-size: var(--text-4xl);
  }
  h4 {
    font-size: var(--text-2xl);
  }
  h5 {
    font-size: var(--text-xl);
  }
}

@theme {
  --animate-fade-in: fade-in 1s ease-in;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
